{% extends "base.html" %}
{% load static %}
{% block content %}
        <form method="get">
        <h4>Фильтрация</h4>
            {{ myFilter.form.as_p }} <!-- Поиск по названию + фильтрация -->
            <br>
            <button class="btn btn-primary" type="submit">
                Поиск
            </button>

        </form>
{% include "plan/new_post.html" %} <!-- Добавлеение новой записи -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Расстояние</th>
                    <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for plan in plans %} <!-- Вывод таблицы -->
                <tr>
                    <td>{{ plan.title }}</td>
                    <td align="right">{{ plan.quantity }} шт</td>
                    <td align="right">{{ plan.distance }} км</td>
                    <td width="26%">{{ plan.the_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% include "plan/paginator.html" %}
{% endblock %}
